html,
body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
}

footer {
  text-align: center;
}

.btn-primary {
  background-color: #bf7fff;
  border-color: #bf7fff;
  border-radius: 0px;
  padding: 5px 30px;
  box-shadow: 0 0 30px -5px hsla(0, 0%, 20.8%, 0.45);
}

.btn-primary:hover {
  background-color: #9865cc;
  border-color: #9865cc;
}

.btn-primary:focus {
  background-color: #9865cc;
  border-color: #9865cc;
}

.btn-primary:active {
  background-color: #9865cc !important;
  border-color: #9865cc !important;
}

.title {
  padding-top: 50px;
}

.subtitle {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
}

.footnote {
  color: #999;
  font-size: 0.8rem;
  text-align: center;
}

.container-color {
  padding: 100px 30px 200px 30px;
  color: #fff;
  background-color: #bf7fff;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.woman {
  display: block;
  height: 200px;
  margin: 50px auto -3px auto;
}

.container-gray {
  padding: 50px 30px;
}


.card-title {
  margin-top: 50px;
  color: #bf7fff;
  text-align: center;
}

.card-title:first-child {
  margin-top: 0;
}

.card-text {
  text-align: center;
  line-height: 2;
}

.skills .profile-card {
  transform: translateY(-100px);
  text-align: center;
}

.card-icon {
  color: #bf7fff;
  font-size: 50px;
  text-align: center;
}

.card-image {
  display: block;
  margin: 20px auto;
}

.row-project {
  margin-top: 30px;
}

.card-project {
  min-width: 329px;
}

.start-project-card {
  min-height: 200px;
  transform: translateY(-100px);
}

.card-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.social-icon {
  color: #fff;
  font-size: 36px;
  margin-right: 40px;
}

.contact-me-subtitle {
  margin-bottom: 30px;
}

.card-social-icon {
  color: #000;
  font-size: 16px;
}
.card-social-icon:hover {
  color: #bf7fff;
  text-decoration: none;
}

.profile-card {
  background-color: #fff;
  min-height: 400px;
  width: 500px;
  padding: 30px;
  margin: 10px;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 30px -5px hsla(0, 0%, 20.8%, 0.45);
}

.project-card {
  background-color: #fff;
  min-height: 400px;
  width: 350px;
  padding: 20px;
  margin: 10px;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 30px -5px hsla(0, 0%, 20.8%, 0.45);
}

.project-card:hover {
  transition-duration: 0.3s;
  transform: scale(1.03);
}

.skill-container {
  padding: 100px 30px;
  background-color: #eee;
}

.skills {
  display: flex;
  align-items: space-between;
  justify-content: center;
  flex-wrap: wrap;
}

.link-container {
  display: flex;
  justify-content: space-around;
}

.resume-button {
  background: white;
  color:  #bf7fff;
  display: block;
  margin: 50px auto 0 auto;
}